* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    min-height: 100vh;
}

main{
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0 45px;
}

nav{
    display: flex;
    justify-content: space-around;

}