* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    min-height: 100vh;
}

main{
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0 45px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-top: 20px;

}

.logo{
    position: relative;
    left: 70px;
}

.left-menu{
    display: flex;
    gap: 30px;
    position: relative;
    right: 40px;
}

.left-menu li{
    list-style: none;
    font-weight: 400;
    font-size: 14px;
}

.right-menu{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    position: relative;
    font-size: 14px;
    font
    right: 40px;
}

.right-menu li{
    list-style: none;
    font-weight: 400;
    font-size: 14px;
}