* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Search */
    background-color: #F9F5ED;

}

nav {
    padding: 20px 10%;
    height: 15vh;

}

nav ul {
    display: flex;
    /* gap:50px; */
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 5%;
    font-weight: 500;
}

/* CSS For Hero Section */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.leftmain {
    width: 40%;
}

.leftmain h1 {
    font-size: 67px;
}

.leftmain p {
    margin: 5% 0;
}

.leftmain button{
    padding: 15px;
}


.rightmain {
    width: 60%;
}