* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    background-color: #F0F4F5;
    margin: auto;
    overflow: hidden;
}

nav {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
}

nav ul li:first-child {
    color: green;
}

/* Main Section */

main{
    display: flex;
    align-items
}